/* global */

body {
    background-color: #d3d3d3;
    text-align: center;
    font-family: sans-serif;
}

#container {
    background-color: white;
    border: 1px solid black;
    margin: 1em auto;
    padding: 1em;
    width: 50em;
}

strong {
    font-weight: bold;
}

.texte-normal {
    text-align: left;
    margin: 1em 0;
}

h1, h2, h3 {
    font-weight: bold;
    font-family: Oswald, sans-serif;
}

h2 {
    font-size: 1.6em;
    margin: 1em 0;
}

h3 {
    font-size: 1.3em;
    color: darkred;
}


/* header */

header {
    margin-bottom: 1em;
}

#page-header img {
    margin-bottom: 1em;
}

h1 {
    font-size: 3em;
    border: 2px solid #8b0000;
    border-width: 2px 0;
    padding: .3em;
}

#subtitle {
    background-color: black;
    color: white;
    font-size: .3em;
    padding: .5em 1em;
}

/* main */

main {
    padding: 0 10%;
}

#presentation {
    background-color: #eee;
    padding: 1em;
}

#presentation-header {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

#presentation-header img {
    height: 4em;
}

#presentation-aside {
    font-style: italic;
    font-size: .8em;
    line-height: 1.5;
    margin-bottom: 1em;
}

/* footer */

footer {
    background-color: #eee;
    padding: 2em 0 4em;
    margin-top: 1em;
}

/* liste d'acteurs */

#actors-list li {
    color: darkred;
    background-color: #eee;
    text-transform: uppercase;
    border-radius: 1em;
    font-size: .9em;
    margin: .2em 0;
}

#actors-list li a {
    display: block;
    padding: .3em;
}

#actors-list li:hover {
    background-color: red;
    color: black;
}